<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel = "stylesheet" href="/assets/css/homecss.css"/>
</head>
<body>

<div class = 'titre'>
    <div class = 'conth1'>
        <h1>Wild Circus</h1>
    </div>
    <div class = 'conth2'>
         <h2>Bienvenue au wild Circus</h2>
    </div>
</div>


<div class ='liencont'>
    <div class="lien1">
        <a class="nav-link" href="{{path('show_index')}}">Nos Spectacles</a>
    </div>
    <div class ="lien2">
        <a class="nav-link" href="{{path('artiste_index')}}">Nos Artistes</a>
    </div>
</div>

{% include '_footer.html.twig' %}
</body>
</html>
